/*Multiple Pages*/
:root {
	--button-color: #6c63ff;
	--secondary-color: #f9f7fe;
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	font-family: var(--default-font-family);
}

.logo {
	max-height: 40px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	margin: 0;
}

.navbar ul {
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline;
	list-style: none;
	line-height: 42px;
	margin-left: 15px;
}

.navbar li.active a,
.navbar a:hover {
	color: var(--button-color);
}

.navbar a {
	text-decoration: none;
	color: #272142;
	transition: all 100ms ease-in-out;
}

h1, h2, h3,
h4, h5, h6 {
	color: black;
	font-family: var(--heading-font-family);
	font-weight: bold;
}

h1 {
	font-size: 96px;
	line-height: 1.5;
}

h2 {
	font-size: 64px;
}

h4 {
	font-size: 48px;
}

p {
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
}

.content-container {
	padding: 160px 20px;
}

.content {
	margin: 30px;
}

.content h1 {
	font-size: 64px;
	line-height: 80px;
}

.content h2 {
	font-size: 18px;
	font-family: var(--default-font-family);
}

.content h3 {
	font-size: 24px;
	font-family: var(--default-font-family);
	line-height: 1.5;
}

.content p {
	font-size: 14px;
}

.btn-branding {
	background-color: var(--button-color);
	border-radius: 4px;
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

.btn-branding-outline {
	color: var(--button-color);
	border: 1px solid var(--button-color);
	border-radius: 4px;
	font-size: 18px;
	line-break: 27px;
	padding: 15px 30px;
}

@media (max-width: 900px) {
	h1 {
		font-size: 44px;
		line-height: 56px;
	}
	h2 {
		font-size: 44px;
	}
	h4 {
		display: none;
	}
	.hero {
		padding: 80px 20px;
	}
	.project-description {
		padding: 0;
		text-align: center;
	}
	.project-description p {
		text-align: justify;
	}
	.content {
		text-align: center;
		padding: 0;
	}
	.logo {
		display: none;
	}
	.contact-box p {
		display: none;
	}
	.contact-box a {
		font-size: 14px;
	}
	a.email-link {
		font-size: 14px;
	}
}

/*Index Page*/
.hero {
	background-color: var(--secondary-color);
	text-align: center;
	padding: 160px 20px;
}

.hero p {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	color: #272142;
}

.hero h2 {
	font-family: var(--heading-font-family);
	font-size: 24px;
	font-weight: normal;
	line-height: 1.5;
	color: #272142;
}

.project-description {
	padding: 120px 60px;
}

/*Footer*/
footer {
	margin: 60px 0;
}

.contact-box {
	display: flex;
	justify-content: space-between;
	background-color: var(--secondary-color);
	padding: 30px 120px;
	margin-bottom: 5px;
	border-radius: 10px;
}

.contact-box p {
	margin: 0;
}

.email {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.email-link {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

.email-link:hover {
	color: var(--button-color);
}

.social-links a {
	margin-bottom: 0 20px;
	color: var(--button-color);
	background-color: var(--secondary-color);
	padding: 10px 14px;
	font-size: 18px;
	border-radius: 50%;
	transition: all 150ms ease-in-out;
}

.social-links a:hover {
	color: white;
	background-color: var(--button-color);
}